body{
    margin: 0px;
    font-family: 'Lato', sans-serif;
}
header .top-nav-strip{
 background-color: #33a137;
    padding: 12px;
}
header .top-inner-nav-strip{
    margin: 0px;
    padding-left: 8px;
    padding-right: 8px;
    display: flex;
    justify-content: space-between;
    height: 15px;
    


}
header .top-inner-nav-strip ul{
    list-style-type: none;
    display: flex;
    margin: 0px;
    padding: 0px;
align-items: center;
    
}
header .top-inner-nav-strip ul li div img{
    width: 20px; 
    
}
header .top-inner-nav-strip ul li{
    display: flex;
    padding:0px 10px;
    
    
}
header .top-inner-nav-strip ul li div.left-ul{
   
    display: flex;
    
}
header .top-inner-nav-strip ul li div.left-ul button{
   
    background-color: red;
    color: #fff;
    font-size: 8px;
    
}
header .top-inner-nav-strip ul li div.left-ul button:hover{
    background-color: red;
   
    
    
}
header .top-inner-nav-strip ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 12.5px;
    align-items: center;
    font-weight: 700;
    
}
header .top-inner-nav-strip ul li a img{
    
    width: 24px;
    padding:0px ;
    margin: 0px;
    
    
    
    
}

header .top-inner-nav-strip ul li input{

    background-color: transparent;
    border: #fff solid 1px;
    border-radius: 4px;
    width: 8rem;
    height: 1.5rem;
    align-items: center;
    
}
header .top-inner-nav-strip ul li div.right-ul{
    position: relative;

    
    
}
header .top-inner-nav-strip ul li div.right-ul a img{

    position: absolute;
    width: 12px;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    
}
header .top-inner-nav-strip ul li div.right-ul span h3 {
    position: absolute;
   
    color: #222;
    top: 0%;
    left: 10%;
    font-size: 12px;
    transform: translateY(-50%);
    z-index: -0.9;
    color: #fff;
    font-weight: 20;



    
    
}

header .top-inner-nav-strip ul li input:focus-visible{

   outline: none;
    
}
header .top-inner-nav-strip ul li button{
   
   background-color: #fff;
   border: #fff solid 1px; 
   border-radius: 4px; 
      
    }
    header .top-inner-nav-strip ul li button span{
   
        padding:20px 8px;
        margin: 12px 0px;
           
         }
header .top-inner-nav-strip ul li button:hover{
background-color: #f8f8f8;
    
}
header .top-primary-nav-bar{
    background-color: #f7f7f7;

}
.top-primary-inner-nav-bar{
   margin: 0px;
   padding:7px;
   padding-bottom: 4px;
}
.top-primary-inner-nav-bar ul{
    list-style-type: none;
    
    margin: 0px;
    padding-left: 2px;

    display: flex;
    
}
.top-primary-inner-nav-bar li{
    list-style-type: none;
    align-items: center;
    display: flex;
    padding:0px 10px;
}
.top-primary-inner-nav-bar a{
    

    text-decoration: none;
    color: #848484;
    text-transform: uppercase;
    font-size: 12.60px;
    align-items: center;
    text-transform: uppercase;
    padding: 0 5px;
}
.top-primary-inner-nav-bar a img{
    width: 135px;
    padding:0 12px ;
    margin: 0px; 
     padding-top: 2px;
     padding-right: 30px;

    
}
main{

}
main section{
position: relative;
display: flex;
}



main section.search-section  img{
    width: 100%;
    
}

main section div.over-layer{
    position: absolute;
   inset: 0;
  background-color: rgba(0 , 0, 0, 0.4);
    }
    main section div.over-layer div.search-area-box {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.5);
        flex-wrap: wrap;
       
        }
        main section div.over-layer div.search-area-box h3{
           margin: 0px;
           padding: 0px;
            }
        main section div.over-layer div.search-area-box ul {
            display: flex;
            margin: 0px;
            padding: 0px;

           
            }
            main section div.over-layer div.search-area-box ul  li {
                list-style-type: none;
                padding: 12px;
                margin: 12px;
           
            }
            main section div.over-layer div.search-area-box ul  li button{
         
          padding: 12px 20px;
         
            }
            main section div.over-layer div.search-area-box ul  li button{
         
          padding: 12px 20px;
         
            }
            main section div.over-layer div.search-area-box ul  li button{
         
          padding: 12px 20px;
         
            }
            main section div.over-layer div.search-property-bar {
                margin: 12px;
         
                
               
                  }
                  main section div.over-layer div.search-property-bar ul {
                  width: 100%;
                
               
                }
                main section div.over-layer div.search-property-bar ul li {
                   margin: 0px;
                  

         
                
               
                }
                
 main section div.over-layer div.search-property-bar li input{
                 
               height: 40px;    }
 section {


 }
 div .exlore-things{


}
div .exlore-things .explore-card-wraper {


}
div .exlore-things .explore-card-wraper{


}
div .exlore-things{


}





    
    







